<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">
        

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="container">
          <h1><img src="/images/logo.jpg">HANUMAN ACCOUNTS AND COMPUTER TRAINING CENTER</h1>
 <nav id="nav">           

    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="#"><span>Courses</span></a>
        <ul class="menu-hover">
          <li><a href="/accounts-and-finance/"> Accounts & finance</a></li>
          <li><a href="/msoffice/"> Microsoft Office</a></li>
          <li><a href="/web-development/"> Web Development</a></li>
          <li><a href="#"> Other</a></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
  
            
    
</div>

          

                {{ content }}


<div class="container">

            <div class="footer">
              <div class="contact">
                                    <p>C- 210 MARUTI DARSHAN
                    HANUMAN CHOWK - MULUND (EAST)
                    MUMBAI 400081 <br>
                    TEL NO: 21632659  
                    MOBILE NO. 9930789292
                  
                </p>
              </div>
             
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
